:root {
  --primary: #092c4c;
  --primary-hover: #061f35;
  --primary-active: #536b81;
  --second: #F2994A;
  --second-hover: #e3822e;
  --info: #2F80ED;
  --info-hover: #66B5F8;
  --success: #27AE60;
  --success-hover: #38f889;
  --warning: #E2B93B;
  --warning-hover: #ffd866;
  --error: #EB5757;
  --error-hover: #fd8888;
  --danger: #FF647C;
  --danger-hover: #fdafbb;

  --grey-1: #333333;
  --grey-2: #4f4f4f;
  --grey-3: #828282;
  --grey-4: #bdbdbd;
  --grey-5: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  margin: 0;
}

a {
  color: var(--primary);
  text-decoration: none;
}
a:hover {
  color: var(--primary-hover);
  text-decoration: none;
}
a:active {
  color: var(--primary-active);
  text-decoration: none;
}

.line {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  &_block {
    display: block;
  }
}